# Compiled Object files
*.o
*.obj
*.s

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst

bin/
